.gongyingshang{
  font-size:14px;
  color:black;
}

.length{
  margin-left:30px;
  color:black;
}

span{
  font-size:12px;
  color:gray;
}

.shuliang{
  margin-left:100px;
  font-size:14px;
  color:black;
}

.money{
  font-size:14px;
  font-weight: 800;
  color:orange;
  margin-left:90px;
}

.cangku{
  font-size:10px;
  color:gray;
  margin-left:110px;
}